/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Shippori+Antique&display=swap');
body {
    font-family: 'Questrial', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Shippori Antique', sans-serif;
}
h1 {
    text-align: center;
}
/* Header styles */
a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: #878E88;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: blue;
    background-color: transparent;
    text-decoration: underline;
}
nav {
	margin: 0 auto;
	max-width: 760px;
	background-color: #f7cb15;
    border-radius: 5px;
}
.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	/* color: black; */
	font-weight: 700;
	transition: 0.2s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}
/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
.responsive li {
	display: block;
}
#logo-box {
    display: flex;
    color: black;
    background-color: transparent;
    text-decoration: none;
}
#logo {
    max-width: 110px;
    margin: 0;
    padding: 0;
}
#social img {
    max-width: 40px;
}
#hero {
    position: relative;
    text-align: center;
}
#hero img {
    margin: auto;
}
#hero p {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#hero button {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#testimonies {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 1em 0 1em;
    font-size: 1.8em;
}
#testimony-1 {
    grid-column: 1/span 4;
    grid-row: 1/span 1;
}
#testimony-2 {
    text-align: right;
    grid-column: 3/span 4;
    grid-row: 2/span 1;
}

/* Color pallete: https://coolors.co/f55d3e-878e88-f7cb15-ffffff-76bed0 */