@media only screen and (min-width: 800px) {
	h2 {
		font-size: 2em;
	}
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
		font-size: 1.5em;
		border-right: 1px solid black;
	}
	.navigation li:last-child a{
		border-right: none;
	}
	.navigation li:first-child {
		display: none;
	}
	#hero button {
		padding: 10px 15px 10px;
	}
	#testimonies p {
		margin-left: 1em;
		margin-right: 1em;
	}
	#quote {
		margin-left: 10%;
		margin-right: 10%;
	}
	#reasons div {
		font-size: 1.5em;
		width: 60%;
		margin-left: auto;
		margin-right: auto;
	}
	#reasons img {
		max-width: 60px;
		max-height: 60px;
	}
	#directors {
		grid-template-columns: 1fr 1fr;
	}
	.inquiry-form {
        font-size: 1.5em;
    }
}
